<nav class="aui-navgroup aui-navgroup-horizontal">
    <div class="aui-navgroup-inner">
        <div class="aui-navgroup-primary">
            <ul class="aui-nav">
                <li class="aui-nav-selected"><a href="#">Conversion</a></li>
                <li><a href="#">Configuration</a></li>
            </ul>
        </div><!-- .aui-navgroup-primary -->
        <div class="aui-navgroup-secondary">
            <ul class="aui-nav">
                <li><a href="#hnavsettingsDropdown" class="aui-dropdown2-trigger" aria-owns="hnavsettings-dropdown" aria-haspopup="true">
                        <span class="aui-icon aui-icon-small aui-iconfont-configure">Configure</span> 
                        <span class="aui-icon-dropdown"></span>
                </a></li>
            </ul>
        </div><!-- .aui-navgroup-secondary -->
    </div><!-- .aui-navgroup-inner -->
</nav>

<div class="aui-page-panel">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-content">
        <h1>Welcome to the pdf2img admin console</h1>
        
<table class="aui">
    <thead>
        <tr>
            <th id="basic-numof">Num of pdfs this conversion</th>
            <th id="basic-lexec">Last Execution</th>
            <th id="basic-nxtexec">Next Execution</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="basic-numof">31</td>
            <td headers="basic-lexec">00:00, thurs 10/07/2013</td>
            <td headers="basic-nxtexec">00:00, fri 11/07/2013</td>
        </tr>
        </tbody>
</table>

           <p>
<button id="dialog-button" class="aui-button aui-button-primary">Convert</button>
<button class="aui-button aui-button-subtle" href="#" id="popupLink">
    <span class="aui-icon aui-icon-small aui-iconfont-share">share</span> Info
</button></p>
        </section>
    </div>
</div>
    