<nav class="aui-navgroup aui-navgroup-horizontal">
    <div class="aui-navgroup-inner">
        <div class="aui-navgroup-primary">
            <ul class="aui-nav">
                <li><a href="#">Conversion</a></li>
                <li class="aui-nav-selected"><a href="#">Configuration</a></li>
            </ul>
        </div><!-- .aui-navgroup-primary -->
        <div class="aui-navgroup-secondary">
            <ul class="aui-nav">
                <li><a href="#hnavsettingsDropdown" class="aui-dropdown2-trigger" aria-owns="hnavsettings-dropdown" aria-haspopup="true"><span class="aui-icon aui-icon-small aui-iconfont-configure">Configure</span> <span class="aui-icon-dropdown"></span></a></li>
            </ul>
        </div><!-- .aui-navgroup-secondary -->
    </div><!-- .aui-navgroup-inner -->
</nav>

<div class="aui-page-panel">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-content">
        <h1>Pdf2img Configuration Console</h1>
        
		<fieldset>
            <legend><span></span></legend>
			<div></div>
		</fieldset>
           <p>
<button id="dialog-button" class="aui-button aui-button-primary">Save</button>
<button class="aui-button aui-button-subtle" href="#" id="popupLink">
    <span class="aui-icon aui-icon-small aui-iconfont-share">share</span> Info
</button></p>
        </section>
    </div>
</div>
    